.row
  h1 Recent Games

.row

  .small-12.medium-6.columns
    = render 'table'

  .small-12.medium-6.columns

    div= line_chart @games.reverse.each_with_index.map { |g,i| [i, g.score] },
                    min: 0, \
                    max: 999999, \
                    library: { title: 'last 10 scores with trend', \
                               pointSize: 0, \
                               chartArea: {width: '80%', height: '80%'}, \
                               legend: { position: 'bottom'}, \
                               backgroundColor: { fill:'transparent' }, \
                               trendlines: { \
                                 0 => { type: 'polynomial', degree: 3, labelInLegend: 'Trend Line', visibleInLegend: true }, \
                                }, \
                               }, \
                    height: "400px"

    div= line_chart current_user.games.reverse.map { |g| [g.created_at, g.score] },
                    min: 0, \
                    max: 999999, \
                    library: { title: 'all games with trend', \
                               pointSize: 0, \
                               chartArea: {width: '80%', height: '80%'}, \
                               legend: { position: 'bottom'}, \
                               backgroundColor: { fill:'transparent' }, \
                               trendlines: { \
                                 0 => { type: 'polynomial', degree: 3, labelInLegend: 'Trend Line', visibleInLegend: true }, \
                                }, \
                               }, \
                    height: "400px"
br

= link_to 'Log Game', new_game_path
